<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="../static/css/s.css">
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
</head>
<title>Epytodo 2017</title>
<style>
	.stick-to-right { /*PFOUA DEGEUUU*/
		width: 250px;
		float: right;
	}
</style>
<body>
    <h1 class="stick-to-right"><span id="time" />
	</h1>
    <h1 class="Title" type="title">
        Epytodo 2017, an EPITECH Project
    </h1>
    <form method = "POST">
        <p type="sign">Username<input type="text" id="fname" name="username" placeholder="Your user name ..."/></p>
        <p type="sign">Password<input type="text" id="lname" name="password" placeholder="Your Password ..."/></p>
        <p><input type="submit" value="log in" formaction="http://127.0.0.1:5000/signin"></p>
        <p><input type="submit" value="or register" formaction="http://127.0.0.1:5000/register"></p>
    </form>
    <ul class="Navigation">
        <li class="Navigation"><a href="#">Home</a></li>
        <li class="Navigation"><a href="#news">News</a></li>
        <li class="Navigation"><a href="#contact">Contact</a></li>
        <form action="http://127.0.0.1:5000/about" method = "GET">
            <li class="Navigation" style="float:right"><a href="about">About</a><li>
        </form>
    </ul>
	<address>
		Written by  <a href="mailto:lucas.tabis@epitech.eu">Lucas TABIS</a><br>
		and <a href="mailto:paul.brunner@epitech.eu">Paul BRUNNER</a><br> and
		<a href="mailto:lucas.hemmerle@epitech.eu">Lucas HEMMERLÉ</a><br>
		Students from <a href="http://www.epitech.eu/">EPITECH </a>
	</address>
    <h3 id="map" style="width:400px;height:600px;"></h3>
	<script type="text/javascript">
    <!--
    function updateTime() {
        var currentTime = new Date();
        var hours = currentTime.getHours();
        var minutes = currentTime.getMinutes();
        var seconds = currentTime.getSeconds();
        if (minutes < 10){
            minutes = "0" + minutes;
        }
        if (seconds < 10){
            seconds = "0" + seconds;
        }
        var v = hours + ":" + minutes + ":" + seconds + " ";
        if(hours > 11){
            v+="PM";
        } else {
            v+="AM"
        }
        setTimeout("updateTime()",1000);
        document.getElementById('time').innerHTML=v;
    }
    function myMap() {
        var mapOptions = {
            center: new google.maps.LatLng(48.692617, 6.188452),
            zoom: 20,
            mapTypeId: google.maps.MapTypeId.HYBRID
        }
        var map = new google.maps.Map(document.getElementById("map"), mapOptions);
    }
    updateTime();
    myMap();
    //-->
		</script>
    <script src="https://maps.googleapis.com/maps/api/js?callback=myMap"></script>
</body>
</html>