body {
    background-image: url("http://bdfjade.com/data/out/23/5314975-wallpaper-gif.gif");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

ul.Navigation {
    position: sticky;
    top: 0;
    font-size: large;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li.Navigation a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.Navigation:last-child {
    border-right: none;
}

li.Navigation a:hover:not(.active) {
    background-color: dodgerblue;
}

.Title {
    position: relative;
    top: 0px;
    text-align: center;
    vertical-align: middle;
    font-family: Verdana, Geneva, sans-serif;
}

li.Navigation {
    display: inline;
    border-right: 1px solid black;
    float: left;
}

h1.stick-to-right {
    color: slateblue;
}

address {
    position: relative;
    top: 375px;
}